{% extends 'base.html' %}

{% block content %}
<div class="public-profile text-center py-4">
  <h1>{{ user.username }}'s Links</h1>
  <div class="row justify-content-center">
    {% for link in links %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        {% if link.image_filename %}
        <img src="{{ url_for('static', filename='uploads/' ~ link.image_filename) }}" 
             class="card-img-top" style="height: 180px; object-fit: cover;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ link.title or link.url }}</h5>
          <p class="card-text">{{ link.notes }}</p>
          <a href="{{ link.url }}" target="_blank" class="btn btn-primary">Visit Link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}